@font-face {
    font-family: 'Fedra Sans';
    src: url("assets/fonts/FedraSansAltPro-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans';
    src: url("assets/fonts/FedraSansAltPro-LightItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Fedra Sans';
    src: url("assets/fonts/FedraSansAltPro-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans';
    src: url("assets/fonts/FedraSansAltPro-BookItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Fedra Sans';
    src: url("assets/fonts/FedraSansAltPro-Medium.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans';
    src: url("assets/fonts/FedraSansAltPro-MediumItalic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Fedra Sans';
    src: url("assets/fonts/FedraSansAltPro-Demi.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans';
    src: url("assets/fonts/FedraSansAltPro-DemiItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Fedra Sans';
    src: url("assets/fonts/FedraSansAltPro-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Fedra Sans';
    src: url("assets/fonts/FedraSansAltPro-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}






